main {
    display: grid;
    grid-template-columns: 6vw repeat(10, 1fr);
    min-height: 100vh;
}

header {
    display: grid;
    left: 0;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 6vw;
    min-height: 100vh;
    h1 {
        display: grid;
        min-height: 100vh;
        max-height: 100vh;
        max-width: 6vw;
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 2rem;
        padding-top: 30px;  
        width: 6vw;
        align-items: center;
        word-spacing: 1px;
    }  
    nav {
        font-size: 3rem;
    }
}

.page1 {
    display: grid;
    grid-column: 2 / 12;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 0px;
    .page1-top {
        display: flex;
        background-color: black;
        padding-bottom: 20px;
    }
    .page1-title {
        grid-column: 2 / 5;
        width: 36%;
        margin-top: 30px;   
    }
    .page1-title_tahini {
        font-size: 8rem;
    }
    .page1-title_chickpeas {
        font-size: 3rem;
        top: 76%;
        left: 39%;
    }
    .page1-title_drizzle {
        font-size: 3rem;
        top: 18%;
        left: 70%;
    }
    .page1-top_text {
        width: 64%;
        grid-column: 5 / 12;
        padding-top: 5px;
        padding-bottom: 30px;
    }
    .page1-main-course {
        font-size: 2.1rem;
        padding-left: 10px;
    }   
}

.page1-bottom {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    .page1-bottom_images {
        grid-column: 1 / 6;
        height: 100%;
    }
    .page1-bottom_arrow1 {
        width: 6.5vw;
        bottom: 9%;
        left: 5px;
    }
}
.page1-bottom_text_arrow {
    grid-column: 6 / 12;
    background-color: white;
    .page1-bottom_text {
        font-size: 2.1rem;
    }
    .page1-bottom_menu {
        bottom: 7%;
        left: 20px;
        font-size: 2.4rem;
    }
    .page1-bottom_arrow2 {
        width: 5vw;
        bottom: 7%;
        left: 39%;
    }
}

.page2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 12;
    min-height: 100vh;
    margin-left: 10px;
    padding-bottom: 30px ;
    .page2-top {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        margin: 0;
        margin-right: 2px;
        column-gap: 16px;
        width: 100%;
        img {
            min-width: 100%;
            min-height: 100%;
            max-height: 100%;
        }
    }
    .page2-top_pic1 {
       grid-column: span 3;    
    }
    .page2-top_pic2 {
        grid-column: span 4; 
    }
    .page2-top_pic3 {
        grid-column: span 4;
        padding-right: 3px;
    }
}

.page2-bottom {
    display: grid;
    grid-column: span 12;
    height: 100%;
    width: 100%;
    padding-top: 0px;
}

.page2-bottom_panel {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-right: 2px;
}

.page2-bottom_dish {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h3 {
    padding-left: 5px;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
}

.page2-panel_description {
    position: absolute;
    left: 44%; 
    bottom: 20%;
    font-size: 1.2rem;
}

.page2-panel_price {
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.exclusive_new {
    left: 105%;
    bottom: 10px;
    font-size: 0.9rem;
    padding-left: 20px;
    padding-right: 20px;
    transform: rotate(3deg);
}

.exclusive_vegan {
    left: 105%;
    bottom: 10px;
    font-size: 0.9rem;
    padding-left: 20px;
    padding-right: 20px;
    transform: rotate(3deg);
}

.exclusive_popular {
    left: 110%;
    bottom: 10px;
    font-size: 0.9rem;
    padding-left: 20px;
    padding-right: 20px;
    transform: rotate(3deg);
}

.page3 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 12;
    height: 100%; 
    border-left: 16px solid white;
    width: 100%;
}

.page3_section {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 8;
    h3 {
        font-size: 3rem;
        padding-left: 10px;
        padding-bottom: 5px;
    }
}

.page3_form {
    font-family: 'jockey one', sans-serif;
    
    .page3__info {
        display: flex;
        flex-direction: row;
         align-items: center;
         margin-right: 20px;
         margin-bottom: 15px;
        label {
            flex: 1;          
        }
        input {
            width: 80%;
        }
    }      
}
.cancel-button {
    font-size: 1.6rem;
    padding-left: 90px;
    padding-right: 90px;
    margin-left: 20px;
}

.request-button  {
    font-size: 1.6rem;
    padding-left: 90px;
    padding-right: 90px;
    margin-left: 20px;
}

.page3_container {
    display: grid;
    grid-column: 9/11;
    width: 40vw;
    margin-top: 50px;
    height: 100%;
    .dining {
        width: 70vw;
        height: 70vh;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        padding-bottom: 20%;
    }
} 

.page3_contact {
    font-size: 1.5rem;
    top: 15%;
    row-gap: 40px;
    left: 49%;

}

.phone {
    width: 70px;
}

.email {
    height: 80px;
}

.location {
    width: 60px;
}

.contact_address {
    font-size: 1.6rem;
}


footer {
    display: grid;
    grid-column: 1 / 12;
    bottom: 0px;
    left: 0;
    max-width: 100%;
    min-width: 100%;
    z-index: 20; 
    .footer_text {
        font-size: 1.3rem;
        padding-left: 90px;
    }
    .decline-buttom {
        font-size: 1.5rem;
        padding-left: 60px;
        padding-right: 60px;
    }
    .accept-buttom {
        font-size: 1.5rem;
        padding-left: 60px;
        padding-right: 60px;
    }
}
