/*body {
    background-color: #fff236;
}

img {
    max-height: 100%;
    height: auto;
    object-fit: cover;
}
  
main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}
  
header {
    display: flex;
    background-color: black;
    color: white;
    h1{
      font-family: 'jockey one', sans-serif;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
}
  
  .page1 {
    grid-column: span 11;
    .page1-top .page1-bottom {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);
    }

    .page1-top {
        .page1-title {
            grid-column: span 4;
        }
        .page1-main-course {
            grid-column: span 7;
        }
    }

    .page1-bottom {
        .page1-bottom_lettuce {
            grid-column: span 5;
        }
    }

} */


  