@import "./burgermenu";

body {
  background-color: #fff236;
}

img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 9vh;
  background-color: black;
  color: white;
  z-index: 10;
  h1 {
    margin: 0;
  }
  font-family: 'jockey one', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  min-height: 65px;
  max-height: 65px;

}

.page1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page1-title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  background-color: black;
  text-transform: uppercase;
  font-family: 'jockey one', sans-serif;
  height: 28vh;
  margin-right: 10px;
  min-height: 180px;
  max-height: 200px;
}

.page1-title_tahini {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: 6rem;
  color: #00ff38;
  z-index: 3;
}

.page1-title_chickpeas {
  position: absolute;
  top: 68%;
  transform: translateY(-50%);
  left: 40%;
  transform: translateX(-50%);
  color: #fff236;
  font-size: 2rem;
  z-index: 1;
}

.page1-title_drizzle {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 65%;
  transform: translateX(-50%);
  color: #aa75ff;
  font-size: 2rem;
}

.page1-main-course {
  color: #00ff38;
  font-family: 'jockey one', sans-serif;
  background-color: black;
  padding: 20px;
  margin-right: 10px;
  font-size: 1.3rem;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
}

.page1-bottom_images {
  position: relative;
  margin-right: 10px;
  &:hover .page1-bottom_arrow1 {
    transform: translateX(20px);
    transition: transform 1.5s ease-in-out;
  }
}

.page1-bottom_arrow1 {
  position: absolute;
  bottom: 11%;
  left: 10px;
  display: block;
  justify-content: left;
  width: 12vw;
  rotate: 90deg;
  height: auto;
}

.page1-bottom_text {
  position: absolute;
  background-color: white;
  color: #aa75ff;
  font-family: 'jockey one', sans-serif;
  height: 280px;
  margin-right: 10px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
}

.page1-bottom_text_arrow {
  position: relative;
  min-height: 280px;
}

.page1-bottom_arrow2 {
  position: absolute;
  width: 9vw;
  bottom: 10%;
  left: 40%;
}

.page1-bottom_menu {
  position: absolute;
  bottom: 10%;
  left: 20px;
  font-family: 'jockey one',sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
}












