@import "./burgermenu";

body {
  background-color: #fff236;
}

img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 9vh;
  background-color: black;
  color: white;
  z-index: 10;
  h1 {
    z-index: 1;
    margin: 0;
    background-color: black; 
    width: 100%;
    height: 9vh;
    text-align: center;
    justify-content: center;
  }
  font-family: 'jockey one', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  min-height: 65px;
  max-height: 65px;
}

.page1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page1-title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  background-color: black;
  text-transform: uppercase;
  font-family: 'jockey one', sans-serif;
  height: 28vh;
  margin-right: 10px;
  min-height: 200px;
  max-height: 200px;
}

.page1-title_tahini {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: 6rem;
  color: #00ff38;
  z-index: 3;
}

.page1-title_chickpeas {
  position: absolute;
  top: 64%;
  transform: translateY(-50%);
  left: 42%;
  transform: translateX(-50%);
  color: #fff236;
  font-size: 2rem;
  z-index: 1;
}

.page1-title_drizzle {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 63%;
  transform: translateX(-50%);
  color: #aa75ff;
  font-size: 2rem;
}

.page1-main-course {
  color: #00ff38;
  font-family: 'jockey one', sans-serif;
  background-color: black;
  padding: 20px;
  margin-right: 10px;
  font-size: 1.3rem;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
}

.page1-bottom_images {
  position: relative;
  margin-right: 10px;
  &:hover .page1-bottom_arrow1 {
    transform: rotate(90deg) translateX(20px);
    transition: transform 1.3s ease-in-out;
  }
}

.page1-bottom_arrow1 {
  position: absolute;
  bottom: 11%;
  left: 10px;
  display: block;
  justify-content: left;
  width: 12vw;
  transform: rotate(90deg);
  height: auto;
}

.page1-bottom_text {
  position: absolute;
  background-color: white;
  color: #aa75ff;
  font-family: 'jockey one', sans-serif;
  height: 280px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
}

.page1-bottom_text_arrow {
  position: relative;
  min-height: 280px;
}

.page1-bottom_arrow2 {
  position: absolute;
  width: 9vw;
  bottom: 9%;
  left: 34%;
}

.page1-bottom_menu {
  position: absolute;
  bottom: 9%;
  left: 20px;
  font-family: 'jockey one',sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: black;
  text-decoration: none;
}

.page2 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;
}

.page2-top_pic {
  min-height: 150px;
  max-height: 150px; 
  padding: 10px;
  padding-left: 0;
  padding-right: 0; 
}

.page2-bottom_panel {
  position: relative;
  background-color: white;
  margin: 10px;
  border-top: 2px solid black ;
  border-bottom: 2px solid black;
}

h3 {
  font-family:'jockey one', sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.page2-panel_dish {
  font-family: 'roboto condensed', sans-serif;
  padding-left: 5px;
  font-size: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page2-panel_price {
  position: absolute;
  top: 1px;
  right: 10px;
  font-family: 'jockey one', sans-serif;
  padding-left: 5px;
  font-size: 1.4rem;
}

.exclusive {
  position: relative;
  font-family: 'courier new',monospace;
  text-transform: uppercase;
  font-size: 1rem;
}
.exclusive_new {
  position: absolute;
  bottom: 2px;
  left: 180px;
  background-color: #aa75ff;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  transform: rotate(3deg);
  span {
    display: block;
    transform: rotate(-3deg);
  }
}

.exclusive_vegan {
  position: absolute;
  bottom: 2px;
  left: 210px;
  background-color: #00ff38;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  transform: rotate(-3deg);
  span {
    display: block;
    transform: rotate(3deg);
  }
}

.exclusive_popular {
  position: absolute;
  bottom: 2px;
  left: 110px;
  background-color: #fff236;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.page3 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #00ff38;
  font-family: 'jockey one', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  h3 {
    font-family: 'jockey one', sans-serif;
    font-size: 2.3rem;
  }

}

.page3_section {
  padding-top: 20px;
  text-transform: uppercase;
}

.page3_form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5rem;
  .cancel-button {
    background-color: #aa75ff;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
  }
  .request-button {
    background-color: #fff236;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
  }
}

input {
  border-radius: 15px;
}

.page3_container {
  position: relative;
}

.page3_contact {
  display: flex;
  flex-direction: column;
  color: #28bcec;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
}

.phone {
  width: 50px;
}

.email {
  width: 50px;
}

.location {
  width: 50px;
}

.dining {
  filter: blur(1.5px);
}

.contact_link {
  text-decoration: none;
  color: #28bcec;
  font-size: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: #aa75ff;
  min-height: 70px;
  font-family: 'roboto condensed', sans-serif;
  padding: 20px;
  font-size: 1.2rem;
  .footer_panel {
    display: inline;
    font-family: 'jockey one', sans-serif;
    text-transform: uppercase;
  }
}

.decline-buttom {
  background-color: #fff236;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 5px;
}

.accept-buttom {
  background-color: #00ff38;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 5px;
}













